 fastapi==0.115.2
 uvicorn==0.30.6
 pydantic==2.9.2
 pydantic-settings==2.5.2
 python-dotenv==1.0.1
 loguru==0.7.2
 langdetect==1.0.9
 nltk==3.9.1
 openai==1.43.0
 sqlmodel==0.0.21
 sqlalchemy==2.0.35
 openpyxl==3.1.5
 psycopg2-binary==2.9.9
 mangum==0.17.0
 boto3>=1.28.0
